body {
  background-color: rgb(239, 239, 239);
  background-image: url('../../../public/login-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
    height: 100vh;
}

.container-suspend {
    margin: auto;

    height: 100%;
    max-width: 40%;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-suspend h1 {
    color: #333;
}

span.appendage {
    display: block;
    padding: 1rem 0 0 0;
    text-align: center;
}

span.appendage > a {
    text-decoration: none;
}

span.appendage > a, 
span.appendage > a:focus, 
span.appendage > a:active {
    color:rgb(14, 106, 167)
}

.appendage > a:hover {
    color:rgb(48, 148, 214)
}

.form-container {
    background-color: white;
    border-radius: 1.5rem;
    border: 1px rgb(225, 225, 225) solid;
    padding: 1.5rem;
}

@media only screen and (max-width: 900px) {
    .container-suspend {
        max-width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    .container-suspend {
        max-width: 90%;
    }
}