.title {
    color: rgb(5, 89, 138);
}

.product-page .image-container {
    width: 100%;

    border-radius: 20px;
    overflow: hidden;
}

.product-page .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}